html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, th,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input[type="button"]
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}


body
{
	z-index:0;
	background-color:#efefff;
}

#upper
{

	background-color: rgb(24,25,71);
	height:15%;
	width:100%;
}

#footer
{
	position:absolute;
	bottom:0px;
	background-color: rgb(24,25,71);
	bottom:0px;
	color:white;
	height:15%;
	width:100%;
	
}

.footertext
{
	padding:30px 50px;
	font-size:20px;
}